/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans Arabic";
    background-color: #fdfafa;
}

.nav {
    position: fixed;
    height: 600px;
    width: 250px;
    background-color: #f3eaf0;
    /* overflow-x: auto; */
    overflow-y: auto;
    text-align: center;
}

div.nav-item {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item:hover {
    background-color: #ffffff;
}

.cards-list {
    position: absolute;
    right: 310px;
    top: 5px;
    display: flex;
    flex-wrap: wrap;
    /* align-items: stretch; */
    /* align-self: auto; */
    align-items: flex-start;

}

.card {
    margin: 10px;
    width: 200px;
    /* height: auto; */
    border: solid;
    border-radius: 20px;
    border-color: bisque;
    box-shadow: 3px 3px 3px rgb(83, 82, 80);
    text-align: center;
    word-wrap: break-word;
    background-color: #F9E8D9;
}

.card:hover {
    box-shadow: 5px 5px 5px rgb(83, 82, 80);
    border-color: #FF9B50;
    cursor: pointer;
}

.card-title {
    font-size: 18px;
    color: #333130;
    font-weight: 400;
}

.card-img {
    height: 180px;
    object-fit: cover;
    padding-top: 5px;
}

p.card-description {
    font-size: 15px;
    font-weight: 400;
    padding: 10px
}

.card-price {
    font-size: 18px;
    font-weight: 500;
    color: rgb(62, 57, 57);
}

span {
    font-size: 15px;
    color: rgb(62, 57, 57);
}

a {
    color: #333130;
    font-size: 18px;
    font-weight: 500;
}
